<section class="wrapper" style="padding-left: 2em; padding-right: 2em;">
    <h3><i class="fa fa-angle-right"></i> Listes des Formations</h3>
    <div class="col-sm-6"></div>
    <div style="margin-right: 20mm;" class="col-sm-3">
        <a href="#" data-toggle="modal" data-target="#new_formation_modal" class="btn btn-compose">
            <i class="fa fa-plus"></i> Nouveau
        </a>

    </div>
    <div class="col-sm-3"></div>
    <div class="row mb">
        <!-- page start-->
        <div class="content-panel">
            <div class="adv-table">
                <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="test">
                    <thead>
                        <tr>
                            <th>Imatricule</th>
                            <th>Nom Apprenti</th>
                            <th>Prenom Apprenti</th>
                            <th class="hidden-phone">Note stage</th>
                            <th class="hidden-phone">moyenne matier</th>
                            <th class="hidden-phone">Note Formation</th>
                            <th class="hidden-phone">Date de formation</th>
                            <th class="hidden-phone">Resultat</th>
                            <th class="hidden-phone">Editer</th>
                            <th class="hidden-phone">Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (row of rows){%>
                            <tr>
                                <td>
                                    <%=row.nomApp %>
                                </td>
                                <td>
                                    <%=row.prenomApp %>
                                </td>

                                <td>
                                    <%=row.designMet%>
                                </td>
                                <td>
                                    <%=row.noteStage%>
                                </td>
                                <td>
                                    <%= row.moyen %>
                                </td>
                                <td>
                                    <%= row.noteForm %>
                                </td>
                                <td>
                                    <%=row.dateFormt %>
                                </td>
                                <td>
                                    <%=row.resultForm %>
                                </td>
                                <td>
                                    <button class="btn btn-primary" data-toggle="modal"
                                        data-target="#editer_formation_modal" onclick="editer_formation(id)"
                                        id=<%=row.idForm %> ><i class="fa fa-edit"></i></button>
                                </td>
                                <td>
                                    <button class="btn btn-danger " onclick="suppr_formation(id)" id=<%=row.idForm %>
                                        ><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                            <%}%>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- page end-->
    </div>
    <!-- /row -->
</section>
<!-- /wrapper -->

<!-- DATA TABLE -->
<script>
    $(document).ready(function () {
        $("#test").DataTable()
    })
</script>